body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-bar ul li {
    margin: 0 10px;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
}

.logo_design a{
    text-decoration: none;
    color: white;
}

.form_container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 430px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 150px;
}

.form_container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.form_container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

.form_container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form_container button {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form_container button:hover {
    background-color: #0056b3;
}

.profile_container{
    width: 600px;
    margin: auto;
    border: 1px solid #2e3339;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.home_container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.home_container h1{
    font-size: 50px;
    width: 600px;
    text-align: center;
    margin: auto;
}

.home_container p {
    font-size: 20px;
    line-height: 26px;
    width: 700px;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    margin-top: 15px;
}

.home_container {
    text-align: center;
    padding: 20px;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.styled_button {
    background-color: #8a87f5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled_button:hover {
    background-color: #0056b3;
}


.search-container {
    margin-bottom: 20px;
}

.error {
    color: red;
}

.results {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



